datasource:
  NoCloud:
    user-data: |
      #cloud-config
      write_files:
        - path: /etc/bird/bird.conf
          permissions: '0644'
          owner: root:root
          content: |
            log syslog all;

            router id 127.0.0.1;

            protocol device {
            }

            protocol kernel {
                ipv4 {
                    import none;
                    export all;
                };
            }
    meta-data: |
      instance-id: ubuntu
      local-hostname: ubuntu
